:root {
  line-height: 1.5;
  font-weight: 400;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3, h4 {
  margin: 0;
  line-height: 1.1;
}

button {
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  filter: brightness(0.9);
}